<?xml version="1.0"?>
<ui>
    <controls>
        <add name="ContentViewTemplate">
          <templates>
            <add name="Ektron_Default_Template" path="{UIPath}/Templates/Content/ContentViewTemplate.ascx" default="true" />
            <add name="Ektron_ContentList_Template" path="{UIPath}/Templates/Content/ContentListViewTemplate.ascx" default="false" />
          </templates>
        </add>
        <add name="FacetsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/FacetsView.ascx" default="true" />
            </templates>
        </add>
        <add name="SiteSearchInputView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/SiteSearchInputView.ascx" default="true" />
            </templates>
        </add>
        <add name="SiteSearchResultsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/SiteSearchResultsView.ascx" default="true" />
            </templates>
        </add>
        <add name="XmlSearchInputView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/XmlSearchInputView.ascx" default="true" />
            </templates>
        </add>
        <add name="XmlSearchResultsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/XmlSearchResultsView.ascx" default="true" />
            </templates>
        </add>
        <add name="ProductSearchInputView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/ProductSearchInputView.ascx" default="true" />
            </templates>
        </add>
        <add name="ProductSearchResultsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/ProductSearchResultsView.ascx" default="true" />
            </templates>
        </add>
        <add name="UserSearchInputView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/UserSearchInputView.ascx" default="true" />
            </templates>
        </add>
        <add name="UserSearchResultsView">
            <templates>
                <add name="Ektron_Default_Template" path="{UIPath}/Templates/Search/UserearchResultsView.ascx" default="true" />
            </templates>
        </add>
        <add name="EditInContext">
			<templates>
				<add name="Minimal" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,common/characterpicker" default="true" />
				<add name="Content" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,ektron/library,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,ektron/validator,ektron/template,ektron/embed,ektron/sourceview,ektron/advancedinspector,ektron/draganddrop,common/characterpicker,ektron/persistToolbar,ektron/inboundwriter" default="false" />
				<add name="Assets" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,ektron/validator,ektron/sourceview,common/characterpicker" default="false" />
				<add name="DiscussionTopic" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,common/characterpicker" default="false" />
				<add name="Mediamedia" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,common/characterpicker" default="false" />
				<add name="CalendarEntryCMSUser" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,ektron/sourceview,common/characterpicker" default="false" />
				<add name="CalendarEntryMembershipUser" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,ektron/library,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,ektron/sourceview,common/characterpicker" default="false" />
				<add name="EditInContext" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,ektron/library,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/paste,common/horizontalruler,common/abbr,ektron/translate,ektron/validator,ektron/template,ektron/embed,ektron/sourceview,ektron/advancedinspector,ektron/draganddrop,ektron/editInContext,common/characterpicker,ektron/inboundwriter" default="false" />
				<add name="MinimalSummary" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/list,ektron/hyperlink,common/undo,common/paste,common/horizontalruler,common/abbr,common/characterpicker" default="true" />
        <!-- Widget Toolbar Configs -->
        <add name="StaticContentWidget" path="dom-to-xhtml/dom-to-xhtml,ektron/general,common/ui,ektron/format,common/contenthandler,common/table,common/block,common/list,ektron/hyperlink,common/highlighteditables,common/undo,common/horizontalruler,common/abbr,common/characterpicker" default="false" />
        <add name="Heading" path="ektron/format" default="false" />
			</templates>
        </add>
    </controls>
    <registration>
        <!-- CacheTimeout -->
        <!-- value = how long in days js/css remains in server-side runtime cache -->
        <add name="CacheTimeout" value="1" />
        <!-- JavaScript -->
        <add name="AllowJavaScriptRegistration" value="true" />
        <add name="AllowJavaScriptAggregation" value="true" />
        <add name="AllowJavaScriptMinification" value="true" />
        <!-- value = how long in days the js stays in browser cache before js is considered stale via Expires HTTP Header  -->
        <add name="JavaScriptExpires" value="365" />
        <!-- value = how long in days (internally converted to seconds) the js stays in browser cache before js is considered stale via Max-Age HTTP Header  -->
        <add name="JavaScriptMaxAge" value="365" />
        <!-- Css -->
        <add name="AllowCssRegistration" value="true" />
        <add name="AllowCssAggregation" value="true" />
        <add name="AllowCssMinification" value="true" />
        <add name="AggregatedCssMediaAttribute" value="all" />
        <!-- value = how long in days the css stays in browser cache before css is considered stale via Expires HTTP Header  -->
        <add name="CssExpires" value="365" />
        <!-- value = how long in days (internally converted to seconds) the css stays in browser cache before css is considered stale via Max-Age HTTP Header  -->
        <add name="CssMaxAge" value="365" />
        <!-- ThemeRoller -->
        <add name="DefaultThemeRollerPath" value="{UIPath}/css/jQuery/ThemeRoller/Smoothness/jquery-ui-custom.css" />
        <add name="LoadDefaultThemeRollerTheme" value="true" />
    </registration>
</ui>
